
.selectionlabel{
  margin-bottom: 10px;
  padding-right: 10px;
  width: 120px;
}

paper-listbox{
  max-height: 15vh;
  overflow-y: auto;
}

.Done {
  color: var(--paper-green-400);
}

.Running {
  color: var(--paper-blue-500);
}

.Scheduled {
  color: var(--paper-grey-400);
}


paper-progress.Done {
  --paper-progress-active-color: var(--paper-green-400);
}

paper-progress.Error {
  --paper-progress-active-color: #E44E50;
}

paper-progress.Warning {
  --paper-progress-active-color: orange;
}

paper-progress.Running {
  --paper-progress-active-color: var(--paper-blue-500);
}

paper-progress.Initial {
}

paper-progress.Scheduled {
  --paper-progress-active-color: var(--paper-grey-400);
}

paper-radio-button {
  padding: 3px;
}

command-input {
  padding: 3px;
}

paper-item {
  --paper-item-min-height: 1em;
  font-size: 1em;
}

.Busy{
  color: #E44E50;
}
