
.form-container {
  margin-left:-5px;
  margin-top: -40px;
  float: left;
  display: block;
}
.container {
    margin-top: 5px;
    margin-left: 50px;
    float: left;
}
.display-container {
    margin-top: 25px;
    float: left;
    margin-left: 0px;
    width: 100%;
}
div.components {
    float: left;
    width: 100%;
}

.scrollable {
  overflow-y: auto;
}
