
.form-container {  
  height: 100%;
}
.container {
    margin-top: 5px;
    margin-left: 50px;
    float: left;
}
.display-container {
    margin-top: 25px;
    float: left;
    margin-left: 0px;
    width: 100%;
}
div.components {
    float: left;
    width: 100%;
}
