// for more info about styling an element:
// https://www.polymer-project.org/1.0/docs/devguide/styling.html

:host {
  // always declare a display property for your element, otherwise it will apear
  // to have height and width = 0 but yet it renders content...
  display: block;
  height: 100%;
}


div.dashedDiv {
  border: 1px dashed #AAAAAA;
  padding: 5px;
  margin: 5px;
  overflow-y: auto;
}

ul.object {
  margin-top: 3px;
  margin-bottom: 3px;
}

.label {
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
  margin: 5px;
  border-radius:  8px;
}


.containerTitle {
  font-weight: bold;
  text-align: center;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}


ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
