

:host {
  display: block;
}


.RowError-bkg {
  background-color: #E44E50;
}

.RowWarning-bkg {
  background-color: orange;
}

data-table-cell {
  padding: 5px 10px 5px 10px;
  height: auto;
  font-size: 11px;
}

data-table-cell[header] {
  font-size: 14px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
