:host {
    --paper-tabs-selection-bar-color: #aaa;
}
[tabs-container] {
    background: #fff;
    font-family: Source Sans Pro;
    color: #666;
    paper-tabs {
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        text-align:left;
        paper-tab {
            -webkit-font-smoothing: antialiased;
            text-align:left;
            font-size: 16px;
            font-weight: 400;
            width: 150px;
            text-rendering: optimizeLegibility;
        }
    }
}

iron-pages {

}
