// for more info about styling an element:
// https://www.polymer-project.org/1.0/docs/devguide/styling.html

:host {
  display: block;
}

paper-listbox{
  max-height: 20vh;
  overflow-y: auto;
}


paper-tooltip {
  --paper-tooltip-opacity: 0.99;
}

.stateMachineTitle {
  background-color: lightblue;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

td {
  padding: 0px;
}

div.ErrorBox {
    border: 1px dashed #E44E50;
    padding: 5px;
    margin: 5px;
}


div.Dashed {
    border: 1px dashed #AAAAAA;
    padding: 5px;
    margin: 5px;
}

.CurrentState {
  background-color: lightblue;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.StepLabel {
  text-align: center;
  font-weight: bold;
  background: #DDDDDD;
  margin: 5px;
  border-radius:  8px;
}
