.spacer {
  height: 20px;
}

.monitoringstatusheader {
  float: right;
}

.monitoringstatus {
  font-weight: bold;
}

monitoring-status-icon.monitoring-status-icon{
  height: 20px;
  margin: auto;
}

tr[not-monitored] {
  background-color: #dadada;
}

tr[is-warning] {
  background-color: #ffdea3;
}

tr[is-error] {
  background-color: #ffd5d5;
}

table.main-metric-table {
  border-spacing: 0px;
}

[left-border] {
  border-left: 1px solid #aaaaaa; 
  padding-left: 10px
}

[separator-line]{
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 0px;
}